.banner {
  background-image: url('../images/background_main.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .arrow-left,
  .arrow-right {
    position: absolute;
    display: flex;
    align-items: center;
    height: 1.5em;
    width: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    font-weight: bold;
    color: map-get($color-fonts, menu);
    border: 2px solid map-get($color-fonts, menu);
    border-radius: 50%;
    cursor: pointer;
  }

  .arrow-left {
    left: .7em;
    @media (min-width: 640px) {
      left: 1.5em;
    }
    @media (min-width: 768px) {
      left: 3em;
    }
  }

  .arrow-right {
    right: .7em;
    @media (min-width: 640px) {
      right: 1.5em;
    }
    @media (min-width: 768px) {
      right: 3em;
    }
  }

  .banner-text {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .banner-heading {
      width: 70%;
      text-align: center;
      margin: .5em auto;
      font-size: 3em;
      font-family: $font-highlight;
      color: map-get($color-fonts, highlight);
      @media (min-width: 640px) {
        font-size: 3.5em;
      }
    }

    .banner-info {
      width: 50%;
      margin: 0 auto;
      text-align: center;
      padding: 0.5em;
      color: map-get($color-fonts, menu);
      font-size: 1.5em;
    }
  } a {
    color: map-get($color-fonts, menu);
  }
}
