.contact-us {
  height: 40vh;
  padding-top: 2.5em;
  background: map-get($color-background, main);

  h2 {
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;

    span {
      color: map-get($color-fonts, highlight);
    }
  }

  .contact-info {
    height: 5em;;
    padding-left: 1em;
    border-left: 5px solid map-get($color-fonts, highlight);

    p {
      font-size: 1.25em;
      margin-bottom: 1em;
    }

    a,
    span {
      color: map-get($color-fonts, headings);
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .contact-icon {
    width: 100%;
    height: 100px;
  }
}
