footer {
  min-height: 10vh;
  background: map-get($color-background, header);
  color: map-get($color-fonts, menu);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7em;

  span {
    font-size: 1.25em;
    padding: 0 0.5em;
    color: map-get($color-fonts, highlight);
    font-family: $font-highlight;
  }

  a {
    color: map-get($color-fonts, menu);
  }
}
