.scroll-to-top {
  position: fixed;
  bottom: .5em;
  right: 1em;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  border: none;
  background: map-get($color-background, article-main);
  color: map-get($color-fonts, highlight);
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  opacity: .9;

  &:hover {
    cursor: pointer;
  }
}
