$columns: 12;

$color-background: (
  header: #000,
  main: #fff,
  button: #c15e07,
  article-main: #202020,
  article-aside: #279978,
);

$color-fonts: (
  menu: #fff,
  main: #000,
  headings: #605a52,
  article: #d8d8d6,
  highlight: #ffb70f
);

$font-main: 'Lato', sans-serif;
$font-highlight: 'Satisfy', cursive;
